<!-- <div class="alert alert{{message.postedBy === 'me' ? 'warning' : 'success'}}"></div> -->
<!-- [class.alert-success] ou [class.alert-warning] pour définir la couleur -->
<div class="alert"å
[class.alert-success]="message.postedBy === 'them'"
[class.alert-warning]="message.postedBy === 'me'">
    <div class="d-flex align-items-center">
      <div class="msg-content flex-grow-1 mr-2 text-{{ message.alignment }}">{{message.content}}</div>
      <div>
        <small class="text-info">{{message.postedAt | date : 'shortTime'}}</small>
        <button class="btn btn-link btn-sm" (click)="deleteMsg()">
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
    </div>
</div>